

python-telegram-bot>=20.0
trafilatura
readability-lxml
beautifulsoup4
apscheduler
python-dotenv
httpx
aiosqlite
aiohttp
cloudscraper
pysqlite3-binary
telegraph
feedparser
duckduckgo-search
ddgs

supabase>=2.3.0


nltk>=3.8.1

psutil>=5.9.0
